/Landslides/
/landslides.tar.gz
.venv/

.venv/
api_key.json
.ipynb_checkpoints/
*.log
training_log.txt

credentials.json
__pycache__/
*.py[cod]

exp/swinunet_128*/
exp/Inutili/

dataset/cache/

DELETE/matchati/
DELETE/matched/
DELETE/matchy/
